@import "../../../../../theme/mixins/flex";
@import "../../../../../theme/common-styles/button";

.user-page {
  @include flex($direction: column, $align-items: center, $gap: 2rem);

  .table {
    border-collapse: collapse;
    th,
    td {
      padding: 1rem;
      border: 1px solid #e4e4e4;
      text-align: left;
    }
  }
}
