@import "../../../theme/mixins/flex";

.auth-container {
  padding-top: 3rem;
  @include flex($justify-content: center, $align-items: center);

  .auth-page {
    @include flex($direction: column, $align-items: center, $gap: 1.5rem);

    &__content {
      border: 2px solid #e4e4e4;
      border-radius: 0.5rem;
    }
  }
}
