@import "../../../theme/mixins/flex";
@import "../../../theme/common-styles/button";

.card {
  padding: 1.5rem 2rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  @include flex($direction: column, $gap: 0.5rem);

  &__header {
    @include flex($justify-content: space-between);

    &__title {
      color: #282828;
    }
  }

  &__details {
    color: #5a5a5a;

    @include flex($gap: 0.5rem, $align-items: center);

    .seperator {
      width: 4px;
      height: 4px;
      background-color: #5a5a5a;
      border-radius: 50%;
    }
  }

  &__description {
    color: #5a5a5a;
  }
}
